*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Folder
logs/
target/
project/project/
project/target/
conf/evolutions/

# Eclipse file
.classpath
.project
.settings/

# idea
.idea
bracelet_web.iml

# Package Files #
*.war
*.ear
*.DS_Store
*.sql

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
