<section class="content-header">
	<h1>
		About
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">About</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	This is a very basic framework. Translation {{'TITLE' | translate}}
	<br />
	
	<a href="#" ng-click="setLang('zh')">
		Change zh. 
	</a>
	<a href="#" ng-click="setLang('en')">
		Change en. 
	</a>
	

	<br /> {{'load.static.TITLE' | translate}}
	
</section>
<!-- /.content -->