<section class="content-header">
	<h1>
		{{'about.title' | translate}} 
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> {{'index.header' | translate}} </a></li>
		<li class="active">{{'about.title' | translate}} </li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<p>
	心系的概念，就是心连心，彼此的牵挂，让心系者心系家庭，心系亲人，心系你的爱人，情侣。
	家人的感觉，心里的感觉，爸妈的感觉，那种幼时被爸妈拥抱的感觉、那种远在他方对家人的关心，思念，问候，发自内心最深最深的深切的问候。 
	何以关怀，在人生的送给远在他方的人一份关怀！
	</p>
	<br />
	<div class="box">
        <div class="box-header">
            <h3 class="box-title">Body Temperature</h3>
        </div><!-- /.box-header -->
		<div class="box-body table-responsive">
	        <table class="table table-bordered table-striped">
	            <tbody>
		            <tr>
		                <th>Category</th>
		                <th>Core</th>
		           	</tr>
		            <tr>
						<td>Hypothermia</td>
						<td> &lt; 35.0 °C (95.0 °F) </td>
					</tr>	
					<tr>
						<td>Normal</td>
						<td>36.5 - 37.5 °C (97.7–99.5 °F) </td>
					</tr>
					<tr>
						<td>Fever</td>
						<td> &gt; 37.5 or 38.3 °C (99.5 or 100.9 °F) </td>
					</tr>
					<tr>
						<td>Hyperthermia</td>
						<td> &gt; 37.5 or 38.3 °C (99.5 or 100.9 °F) </td>
					</tr>
					<tr>
						<td>Hyperthermia</td>
						<td> &gt; 40.0 or 41.5 °C (104.0 or 106.7 °F) </td>
					</tr>
		        </tbody>
	        </table>
	    </div>
	</div>
	<div class="box">
        <div class="box-header">
            <h3 class="box-title">Pulse Rate</h3>
        </div><!-- /.box-header -->
		<div class="box-body table-responsive">
	        <table class="table table-bordered table-striped">
	            <tbody>
		            <tr>
		                <th>Age</th>
		                <th>Beats Per Minute (BPM)</th>
		           	</tr>
		            <tr>
						<td>Newborns (0-3 months)</td>
						<td> 100 - 150 </td>
					</tr>	
					<tr>
						<td>Infants (3-6 months)</td>
						<td> 90 - 120</td>
					</tr>
					<tr>
						<td>Infants (6-12 months)</td>
						<td> 100 - 160</td>
					</tr>
					<tr>
						<td>Children ages 1-10</td>
						<td> 70 - 130 </td>
					</tr>
					<tr>
						<td>Children over age 10 and adults</td>
						<td> 60 - 100 </td>
					</tr>
					<tr>
						<td>Well-conditioned athletes</td>
						<td> 40-60 </td>
					</tr>
		        </tbody>
	        </table>
	    </div>
	</div>
	<div class="box">
        <div class="box-header">
            <h3 class="box-title">Blood Pressure</h3>
        </div><!-- /.box-header -->
		<div class="box-body table-responsive">
	        <table class="table table-bordered table-striped">
	            <tbody>
		            <tr>
		                <th>Category</th>
		                <th>Systolic</th>
		                <th>&nbsp;</th>
		                <th>Diastolic</th>
		           	</tr>
		            <tr>
						<td>Optimal</td>
						<td> &lt; 120 </td>
						<td>and</td>
						<td> &lt; 80</td>
					</tr>	
					<tr>
						<td>Normal</td>
						<td> 120 - 129 </td>
						<td>and/or</td>
						<td> 80 - 84</td>
					</tr>
					<tr>
						<td>High Normal</td>
						<td> 130 - 139 </td>
						<td>and/or</td>
						<td> 85 - 89 </td>
					</tr>
					<tr>
						<td>Grade 1 hypertension</td>
						<td> 140 - 159 </td>
						<td>and/or</td>
						<td> 100 - 109</td>
					</tr>
					<tr>
						<td>Grade 2 hypertension</td>
						<td> 160 - 179 </td>
						<td>and/or</td>
						<td> 100 - 109</td>
					</tr> 
					<tr>
						<td>Grade 3 hypertension</td>
						<td> &ge; 180 </td>
						<td>and/or</td>
						<td> &ge; 110</td>
					</tr>
					<tr>
						<td>Isolated systolic hypertension</td>
						<td> &ge; 140 </td>
						<td>and</td>
						<td> &lt; 90</td>
					</tr>
		        </tbody>
	        </table>
	    </div>
	</div>
</section>
<!-- /.content -->