<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{'index.history' | translate}} <small>{{'index.cpanel' | translate}}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{'index.header' | translate}}</a></li>
        <li class="active">{{'index.history' | translate}}</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="form-group">
        <label>Please select your bracelet:</label>
        <select
        	class="form-control"
        	ng-change="changeBracelet()"
		    ng-model="braceletId"
		    ng-options="value.braceletId as value.name for value in bracelets">
		    <option>--</option>
		</select>
    </div>
    
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
		    <li class="active"><a href="#tab_1" data-toggle="tab" ng-click="switchTab('temperatureChart')">{{'index.temperature_chart' | translate}}</a></li>
		    <li><a href="#tab_2" data-toggle="tab" ng-click="switchTab('plusChart')">{{'index.plus_chart' | translate}}</a></li>
		    <li><a href="#tab_3" data-toggle="tab" ng-click="switchTab('motionChart')">{{'index.motion_chart' | translate}}</a></li>
		    <li><a href="#tab_4" data-toggle="tab" ng-click="switchTab('bloodPressureChart')">{{'index.blood_pressure_chart' | translate}}</a></li>
		</ul>
	
		<div class="tab-content">
		  	<div class="tab-pane active" id="tab_1">
			    <div class="row">
			        <div class="col-xs-12">
			            <!-- temperature chart -->
			            <div id="temperatureChart" style="height: 400px;"></div>
			        </div><!-- /.col -->
			    </div><!-- /.row -->
		    </div>
	
		  	<div class="tab-pane" id="tab_2">
			    <div class="row">
			        <div class="col-xs-12">
			            <!-- plus chart -->
						<div id="pulseChart" style="height: 400px;"></div>
			        </div><!-- /.col -->
			    </div><!-- /.row -->
			</div>
	
		  	<div class="tab-pane" id="tab_3">
			    <div class="row">
			        <div class="col-xs-12">
			            <!-- plus chart -->
						<div id="motionChart" style="height: 400px;"></div>
			        </div><!-- /.col -->
			    </div><!-- /.row -->
		    </div>
		    
		    <div class="tab-pane" id="tab_4">
			    <div class="row">
			        <div class="col-xs-12">
			            <!-- plus chart -->
						<div id="bloodPressureChart" style="height: 400px;"></div>
			        </div><!-- /.col -->
			    </div><!-- /.row -->
		    </div>
	    </div>
    
 	</div>
</section><!-- /.content -->