<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{'index.timeline' | translate}} <small>{{'index.cpanel' | translate}}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{'index.header' | translate}}</a></li>
        <li class="active">{{'index.timeline' | translate}}</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
	<!-- row -->
	<div class="row" ng-if="total > 0">
        <div class="col-md-12" ng-repeat="(key, obj) in datas">
            <!-- The time line -->
            <ul class="timeline">
                <!-- timeline time label -->
                <li class="time-label">
                    <span class="{{ getBgColor($index) }}">
                    	{{ key }}
                    </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li ng-repeat="event in obj">
                    <i class="fa {{ getType(event.type) }}"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> {{ event.createDate | HHmm }}</span>
                        <h3 class="timeline-header">{{ event.title }}</h3>
                        <div class="timeline-body">
                            {{ event.description }}
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
            </ul>
        </div>
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <li>
                    <i class="fa fa-clock-o"></i>
                </li>
            </ul>
        </div>
    </div><!-- /.row -->

    <div class="row" ng-if="total == 0">
        <div class="col-md-12">
            <p>No record found.</p>
        </div>
    </div>
</section><!-- /.content -->